* {
    box-sizing: border-box;
}

main {
    display: grid;
    grid-template-columns: 40% 30% 27%;
    gap: 0.5em;    
    font-family: 'Times New Roman', Times, serif;
}

header {
    grid-column: 1/4;
    color: #ffffff;
    background-color: rgb(52, 29, 180);
    text-align: center;
}

nav {
    grid-column: 1/4;
    width: 100%;
  /*   background-color: khaki */
}

section {
    grid-column: 1/3;
    background-color: gainsboro;
}

aside {
    grid-column: 3/4;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
}

footer {
    grid-column: 1/4;
    text-align: center;
    background-color: rgb(52, 29, 180);
    color: #ffffff;
    font-size: 100%;
}

article a
{
text-decoration: none;
color: #000000;
}

section h1,h4
{
text-align: center;
}

section img
{
width: 70%;
justify-content: center;
margin-left: 20%;
}

aside img
{
width: 95%;
justify-content: center;
}

/* MENU */


.menu-area a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: black;
    height: 50px;
    text-decoration: none;
}

.menu-area a:hover {
    background: rgb(52, 29, 180);
    color: #fff;

}

.menu-area ul {
    list-style: none;
    display: flex;
}


.menu-area li {
    /* position: relative; */
    width: 100%;
    text-align: center;
    text-decoration: none;
    align-items: center; 
    color: #fff;
    background: black;
    height: 50px;
    text-decoration: none;
}

.menu-area li:hover .dropdown-1>li {
    top: 0;
    display: block;
}

.dropdown-1 li {
    display: none;
    position: relative;
    justify-content: center;
}

.dropdown-1 {
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}